@import "~normalize.css/normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");

body {
    //background: #EBF3FA;
    background: #1d1f23;
    font-family: "Montserrat";
    color: #d6e1ef;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}

.section {
    margin-bottom: 40px;

    &--first {
        margin-top: 150px;
    }
}

.items {
    &-group {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 100%;
        margin-bottom: 20px;

        @media (min-width: 1200px) {
            margin: 20px;
            width: calc(100% / 5 - 40px);

            &:first-child {
                margin-left: 0;
            }

            &:nth-child(6n + 6) {
                margin-left: 0;
            }
        }
    }
}
